[Unit]
Description=PTB interface software
Documentation=man:ptb(1)
Wants=network.target
After=network.target

[Service]
;Type=forking
;Environment=statedir=/var/cache/foo
;ExecStartPre=/usr/bin/mkdir -p ${statedir}
;Environment=port=8991
;ExecStart=/opt/ptbreader/bin/ptb_runner --port $port
;Restart=on-abort
Type=simple
ExecStart=/opt/ptbreader/bin/ptb_runner
Restart=on-failure
;PIDFile=/var/run/ptb.pid

[Install]
WantedBy=multi-user.target

